@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

@mixin ButtonIcon_context($class, $context, $modifiers) {
  &-#{$class} {
    background-color: var(--pui-color-#{$context}-bg-#{$modifiers});
    color: var(--pui-color-#{$context}-text-#{$modifiers});
    box-shadow: inset 0 0 0 1px
      var(--pui-color-#{$context}-border-#{$modifiers});

    & .Icon {
      color: var(--pui-color-#{$context}-icon-#{$modifiers});
    }

    &:hover {
      background-color: var(--pui-color-#{$context}-bg-#{$modifiers}-hover);
    }

    &:active {
      background-color: var(--pui-color-#{$context}-bg-#{$modifiers}-pressed);
    }
  }
}

@mixin ButtonIcon_context-ghost($class, $context, $modifiers) {
  &-#{$class} {
    background-color: var(--pui-color-#{$context}-bg-#{$modifiers});
    color: var(--pui-color-#{$context}-text-#{$modifiers});

    & .Icon {
      color: var(--pui-color-#{$context}-icon-#{$modifiers});
    }

    &:hover {
      background-color: var(--pui-color-#{$context}-bg-#{$modifiers}-hover);
    }

    &:active {
      background-color: var(--pui-color-#{$context}-bg-#{$modifiers}-pressed);
    }
  }
}

.ButtonIcon {
  $parent: &;

  padding: 0 var(--pui-space-100);
  border-radius: var(--pui-radius-medium);
  border: none;
  width: 24px;
  height: 24px;
  overflow: hidden;
  @include curson-feedback;

  @include focus-visible;

  &__children {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &_context {
    @include ButtonIcon_context("neutral", "neutral", "interactive");
    @include ButtonIcon_context-ghost(
      "neutral-ghost",
      "neutral",
      "interactive"
    );
  }

  &_disabled {
    cursor: auto;

    background-color: var(--pui-color-disabled-bg-interactive);
    color: var(--pui-color-disabled-text-interactive);
    box-shadow: none;

    & .Icon {
      color: var(--pui-color-disabled-icon-interactive);
    }

    &:hover {
      background-color: var(--pui-color-disabled-bg-interactive);
    }

    &:active {
      background-color: var(--pui-color-disabled-bg-interactive);
    }
  }
}
