@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

@mixin ButtonIcon_style-outlined($context, $modifiers) {
  &_context-#{$context}-#{$modifiers} {
    background-color: var(--pui-color-#{$context}-bg-#{$modifiers}-interactive);
    box-shadow: inset 0 0 0 1px
      var(--pui-color-#{$context}-border-#{$modifiers}-interactive);

    &:hover {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      }
    }

    &:active {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      }
    }
  }
}

@mixin ButtonIcon_style-ghost($context, $modifiers) {
  &_context-#{$context}-#{$modifiers}.ButtonIcon_ghost {
    background-color: transparent;
    box-shadow: none;

    &:hover {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      }
    }

    &:active {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      }
    }
  }
}

@mixin ButtonIcon_style-translucent($context, $modifiers) {
  &_context-#{$context}-#{$modifiers}.ButtonIcon_translucent {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.64;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

.ButtonIcon {
  $parent: &;

  padding: 0 var(--pui-space-100);
  border-radius: var(--pui-radius-medium);
  border: none;
  width: 24px;
  height: 24px;
  overflow: hidden;

  @include curson-feedback;
  @include focus-visible;

  &__children {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @include ButtonIcon_style-outlined("neutral", "default");
  @include ButtonIcon_style-ghost("neutral", "default");
  @include ButtonIcon_style-translucent("neutral", "default");

  &_disabled {
    cursor: auto !important;

    background-color: var(--pui-color-disabled-bg-default) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(--pui-color-disabled-bg-default) !important;
    }

    &:active {
      background-color: var(--pui-color-disabled-bg-default) !important;
    }
  }
}
