@use "../../shared.scss" as *;
@use "../../mixins.scss" as *;

@mixin Button_intent-filled($intent, $modifiers) {
  &_intent-#{$intent}-#{$modifiers} {
    background-color: var(--pui-color-#{$intent}-bg-#{$modifiers}-interactive);

    &:hover {
      background-color: var(
        --pui-color-#{$intent}-bg-#{$modifiers}-interactive-hover
      );
    }

    &:active {
      background-color: var(
        --pui-color-#{$intent}-bg-#{$modifiers}-interactive-pressed
      );
    }
  }
}

@mixin ButtonIcon_intent-outlined($intent, $modifiers) {
  &_intent-#{$intent}-#{$modifiers} {
    background-color: var(--pui-color-#{$intent}-bg-#{$modifiers}-interactive);
    box-shadow: inset 0 0 0 1px
      var(--pui-color-#{$intent}-border-#{$modifiers}-interactive);

    &:hover {
      background-color: var(
        --pui-color-#{$intent}-bg-#{$modifiers}-interactive-hover
      );
    }

    &:active {
      background-color: var(
        --pui-color-#{$intent}-bg-#{$modifiers}-interactive-pressed
      );
    }
  }
}

@mixin ButtonIcon_intent-ghost($intent, $modifiers) {
  &_intent-#{$intent}-#{$modifiers}.ButtonIcon_ghost {
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: var(
        --pui-color-#{$intent}-bg-#{$modifiers}-interactive-hover
      );
    }

    &:active {
      background-color: var(
        --pui-color-#{$intent}-bg-#{$modifiers}-interactive-pressed
      );
    }
  }
}

@mixin ButtonIcon_intent-translucent($intent, $modifiers) {
  &_intent-#{$intent}-#{$modifiers}.ButtonIcon_translucent {
    background-color: transparent;
    box-shadow: none;
    opacity: 0.64;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

.ButtonIcon {
  $parent: &;

  padding: 0 var(--pui-spacing-100);
  border-radius: var(--pui-radius-medium);
  border: none;
  flex: 0 0 auto;
  overflow: hidden;

  @include curson-feedback;
  @include focus-visible;

  &__children {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
  }

  &_size {
    &-medium {
      width: 24px;
      height: 24px;
    }
    &-large {
      width: 32px;
      height: 32px;
    }
  }

  &_groupedPosition {
    &-left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-both {
      border-radius: 0;
    }
  }

  &_grouped + &_grouped {
    margin-left: -1px;
  }

  @include ButtonIcon_intent-outlined("neutral", "default");
  @include Button_intent-filled("neutral", "secondary");
  @include ButtonIcon_intent-ghost("neutral", "default");
  @include ButtonIcon_intent-translucent("neutral", "default");

  &_disabled {
    cursor: auto !important;
  }

  &_disabled:is(&_intent-neutral-default) {
    background-color: var(--pui-color-neutral-bg-disabled) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(--pui-color-neutral-bg-disabled) !important;
    }

    &:active {
      background-color: var(--pui-color-neutral-bg-disabled) !important;
    }
  }
}
