@use "../../shared.scss" as *;
@use "../../mixins.scss" as *;

.Input {
  $parent: &;

  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
  width: 100%;

  border-radius: var(--pui-radius-medium);
  overflow: hidden;

  outline-width: 1px;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: -1px;
  background-color: var(--pui-color-neutral-bg-secondary-interactive);

  &:hover {
    outline-color: var(--pui-color-neutral-border-default-interactive);
  }

  &:hover > &__suffix,
  &:focus-within > &__suffix {
    display: flex;
  }

  &_focused,
  &:hover:is(:focus-within) {
    outline-color: var(--pui-color-neutral-border-default-interactive-selected);
  }

  &_error {
    outline-color: var(
      --pui-color-neutral-border-default-interactive-selected-error
    ) !important;
  }

  &__input-native {
    align-self: stretch;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 var(--pui-spacing-200);
    color: var(--pui-color-neutral-text-default-interactive);

    @include typography-styles;
    @include typography-body-medium;
    @include curson-feedback;

    &::placeholder {
      color: var(--pui-color-neutral-text-secondary-interactive);
    }
  }

  &_prefix &__input-native {
    padding-left: 0;
  }

  &_suffix &__input-native {
    padding-right: 0;
  }

  &__prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  &__suffix {
    display: none;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  &_disabled {
    cursor: auto;
    background-color: var(--pui-color-disabled-bg-default);
  }

  &_disabled &__input-native {
    color: var(--pui-color-disabled-text-default);
  }

  // Ghost

  &_ghost {
    background-color: transparent;

    &:hover {
      outline-color: transparent;
    }
  }

  &_ghost:is(&_focused),
  &_ghost:hover:is(:focus-within) {
    background-color: var(--pui-color-neutral-bg-default);
  }

  &_ghost:is(&_disabled) {
    background-color: transparent;
    color: var(--pui-color-disabled-text-default);
  }

  &_ghost:is(&_disabled) &__input-native {
    color: var(--pui-color-neutral-text-default);
  }
}
