@use "../../variables.scss" as *;

@mixin Badge_context-filled($class, $context, $modifiers) {
  &-#{$class} {
    background-color: var(--pui-color-#{$context}-bg-#{$modifiers});
    color: var(--pui-color-#{$context}-text-#{$modifiers});

    & .Icon {
      color: var(--pui-color-#{$context}-icon-#{$modifiers});
    }
  }
}

@mixin Badge_context-outlined($class, $context, $modifiers) {
  &-#{$class} {
    background-color: var(--pui-color-#{$context}-bg-#{$modifiers});
    box-shadow: inset 0 0 0 1px
      var(--pui-color-#{$context}-border-#{$modifiers});
    color: var(--pui-color-#{$context}-text-#{$modifiers});

    & .Icon {
      color: var(--pui-color-#{$context}-icon-#{$modifiers});
    }
  }
}

.Badge {
  $parent: &;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bebebe;
  overflow: hidden;
  width: fit-content;
  height: 16px;
  border-radius: var(--pui-radius-medium);

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__children {
    padding: 0 var(--pui-space-100);
  }

  &_prefix &__children {
    padding-left: 0;
  }

  &_suffix &__children {
    padding-right: 0;
  }

  &_context {
    @include Badge_context-outlined("neutral", "neutral", "default");
    @include Badge_context-outlined(
      "neutral-secondary",
      "neutral",
      "secondary"
    );
    @include Badge_context-outlined("neutral-brand", "neutral", "brand");
    @include Badge_context-outlined("neutral-danger", "neutral", "danger");
    @include Badge_context-outlined("neutral-warning", "neutral", "warning");
    @include Badge_context-outlined("neutral-success", "neutral", "success");
    @include Badge_context-filled(
      "neutral-inverted",
      "neutral-inverted",
      "default"
    );
    @include Badge_context-filled("brand", "brand", "default");
    @include Badge_context-filled("danger", "danger", "default");
    @include Badge_context-filled("warning", "warning", "default");
    @include Badge_context-filled("success", "success", "default");
  }
}
