@use "../../shared.scss" as *;

@mixin Badge_intent-filled($intent, $modifiers) {
  &_intent-#{$intent}-#{$modifiers} {
    background-color: var(--pui-color-#{$intent}-bg-#{$modifiers});
    color: var(--pui-color-#{$intent}-text-#{$modifiers});
  }
}

@mixin Badge_intent-outlined($intent, $modifiers) {
  &_intent-#{$intent}-#{$modifiers} {
    @if $modifiers != "default" or $modifiers != "secondary" {
      background-color: var(--pui-color-#{$intent}-bg-default);
    } @else {
      background-color: var(--pui-color-#{$intent}-bg-#{$modifiers});
    }

    box-shadow: inset 0 0 0 1px var(--pui-color-#{$intent}-border-#{$modifiers});
  }
}

.Badge {
  $parent: &;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bebebe;
  overflow: hidden;
  width: fit-content;
  flex: 0 0 auto;
  height: 16px;
  border-radius: var(--pui-radius-medium);

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__children {
    padding: 1px var(--pui-spacing-100) 0;
  }

  &_prefix &__children {
    padding-left: 0;
  }

  &_suffix &__children {
    padding-right: 0;
  }

  @include Badge_intent-outlined("neutral", "default");
  @include Badge_intent-outlined("neutral", "secondary");
  @include Badge_intent-outlined("neutral", "brand");
  @include Badge_intent-outlined("neutral", "danger");
  @include Badge_intent-outlined("neutral", "warning");
  @include Badge_intent-outlined("neutral", "success");
  @include Badge_intent-filled("neutral-inverted", "default");
  @include Badge_intent-filled("brand", "default");
  @include Badge_intent-filled("danger", "default");
  @include Badge_intent-filled("warning", "default");
  @include Badge_intent-filled("success", "default");
}
