@use '../../shared.scss' as *;

.MenuItemOption {
  padding: 0 var(--pui-spacing-200);

  &__content {
    display: flex;
    flex-flow: row nowrap;
    padding: var(--pui-spacing-100) var(--pui-spacing-200);
    border-radius: var(--pui-radius-medium);
    gap: var(--pui-spacing-200);
  }

  &__prefix,
  &__suffix {
    display: flex;
    flex-flow: row nowrap;
  }

  &:not(&_focused) &__content:hover {
    background-color: var(--pui-color-brand-bg-default);
  }

  .MenuContainer_keyboard-interaction &:not(&_focused) &__content:hover {
    background-color: transparent;
  }

  &_focused &__content {
    background-color: var(--pui-color-brand-bg-default);
  }

  &:focus {
    outline: none;
    border: none;
  }

  &__content-container {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--pui-spacing-200);
  }

  &_disabled &__content:hover {
    background-color: transparent !important;
  }

  &_reducedPaddingRight &__content {
    padding-right: var(--pui-spacing-100);
  }

  &__children {
    width: 100%;
    min-width: 0;
  }

  &__selection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
  }
}
