@use "../../shared.scss" as *;

.StickyBar {
  $parent: &;

  position: sticky;
  width: 100%;
  display: flex;
  padding: var(--pui-spacing-200) var(--pui-spacing-400);
  background-color: var(--pui-color-neutral-bg-default);
  left: 0;

  &__children {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &_position {
    &-top {
      top: 0;
      box-shadow: 0 1px 0 0 var(--pui-color-neutral-border-default);
    }

    &-bottom {
      bottom: 0;
      box-shadow: 0 -1px 0 0 var(--pui-color-neutral-border-default);
    }
  }
}
