@use '../../shared.scss' as *;

@mixin Button_intent-filled($intent, $modifier) {
  &_intent-#{$intent}-#{$modifier} {
    background-color: var(--pui-color-#{$intent}-bg-#{$modifier});

    &:hover {
      background-color: var(--pui-color-#{$intent}-bg-#{$modifier}-hover);
    }

    &:active {
      background-color: var(--pui-color-#{$intent}-bg-#{$modifier}-pressed);
    }
  }
}

@mixin Button_intent-outlined($intent, $modifier) {
  &_intent-#{$intent}-#{$modifier} {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--pui-color-#{$intent}-border-#{$modifier});

    &:hover {
      background-color: var(--pui-color-#{$intent}-bg-#{$modifier}-hover);
    }

    &:active {
      background-color: var(--pui-color-#{$intent}-bg-#{$modifier}-pressed);
      box-shadow: unset;
    }
  }
}

@mixin Button_intent-ghost($intent, $modifier) {
  &_intent-#{$intent}-#{$modifier}.Button_ghost {
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: var(--pui-color-#{$intent}-bg-#{$modifier}-hover);
    }

    &:active {
      background-color: var(--pui-color-#{$intent}-bg-#{$modifier}-pressed);
    }
  }
}

.Button {
  padding: 0 var(--pui-spacing-100);
  border-radius: var(--pui-radius-medium);
  border: none;
  flex: 0 0 auto;
  width: fit-content;
  overflow: hidden;
  cursor: default;

  &:focus-visible {
    outline: 1px solid var(--pui-color-system-border-focused);
    outline-offset: 1px;
    box-shadow: none;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__children {
    padding: 0 var(--pui-spacing-100);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &_prefix &__children {
    padding-left: 0;
  }

  &_suffix &__children {
    padding-right: 0;
  }

  &_size {
    &-medium {
      height: 24px;
    }
    &-large {
      height: 32px;
    }
  }

  &_groupedPosition {
    &-first {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-last {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-middle {
      border-radius: 0;
    }
  }

  &_fullWidth {
    flex: 1 1 auto;
    width: 100%;
  }

  @include Button_intent-outlined('neutral', 'default');
  @include Button_intent-filled('neutral', 'secondary');
  @include Button_intent-ghost('neutral', 'default');
  @include Button_intent-outlined('neutral', 'brand');
  @include Button_intent-ghost('neutral', 'brand');
  @include Button_intent-outlined('neutral', 'danger');
  @include Button_intent-ghost('neutral', 'danger');
  @include Button_intent-filled('neutral-inverted', 'default');
  @include Button_intent-filled('brand', 'default');
  @include Button_intent-filled('danger', 'default');
  @include Button_intent-filled('success', 'default');

  &_disabled {
    cursor: auto !important;
  }

  &_disabled:is(&_intent-neutral-default):not(&_ghost),
  &_disabled:is(&_intent-neutral-brand):not(&_ghost),
  &_disabled:is(&_intent-neutral-danger):not(&_ghost) {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 1px var(--pui-color-neutral-border-disabled) !important;

    &:hover {
      background-color: transparent !important;
    }

    &:active {
      background-color: transparent !important;
    }
  }

  &_disabled:is(&_intent-neutral-default):is(&_ghost),
  &_disabled:is(&_intent-neutral-brand):is(&_ghost),
  &_disabled:is(&_intent-neutral-danger):is(&_ghost) {
    background-color: transparent !important;
    box-shadow: none !important;

    &:hover {
      background-color: transparent !important;
    }

    &:active {
      background-color: transparent !important;
    }
  }

  &_disabled:is(&_intent-neutral-inverted-default) {
    background-color: var(--pui-color-neutral-inverted-bg-disabled) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(--pui-color-neutral-inverted-bg-disabled) !important;
    }

    &:active {
      background-color: var(--pui-color-neutral-inverted-bg-disabled) !important;
    }
  }

  &_disabled:is(&_intent-brand-default) {
    background-color: var(--pui-color-brand-bg-disabled) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(--pui-color-brand-bg-disabled) !important;
    }

    &:active {
      background-color: var(--pui-color-brand-bg-disabled) !important;
    }
  }

  &_disabled:is(&_intent-danger-default) {
    background-color: var(--pui-color-danger-bg-disabled) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(--pui-color-danger-bg-disabled) !important;
    }

    &:active {
      background-color: var(--pui-color-danger-bg-disabled) !important;
    }
  }

  &_disabled:is(&_intent-success-default) {
    background-color: var(--pui-color-success-bg-disabled) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(--pui-color-success-bg-disabled) !important;
    }

    &:active {
      background-color: var(--pui-color-success-bg-disabled) !important;
    }
  }
}
