@use "../../shared.scss" as *;
@use "../../mixins.scss" as *;

@mixin Button_style-filled($context, $modifiers) {
  &_context-#{$context}-#{$modifiers} {
    background-color: var(--pui-color-#{$context}-bg-#{$modifiers}-interactive);

    &:hover {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      }
    }

    &:active {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      }
    }
  }
}

@mixin Button_style-outlined($context, $modifiers) {
  &_context-#{$context}-#{$modifiers} {
    background-color: var(--pui-color-#{$context}-bg-#{$modifiers}-interactive);
    box-shadow: inset 0 0 0 1px
      var(--pui-color-#{$context}-border-#{$modifiers}-interactive);

    &:hover {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      }
    }

    &:active {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      }
    }
  }
}

@mixin Button_style-ghost($context, $modifiers) {
  &_context-#{$context}-#{$modifiers}.Button_ghost {
    background-color: transparent;
    box-shadow: none;

    &:hover {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-hover
        );
      }
    }

    &:active {
      @if $modifiers == "default" {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      } @else {
        background-color: var(
          --pui-color-#{$context}-bg-#{$modifiers}-interactive-pressed
        );
      }
    }
  }
}

.Button {
  $parent: &;

  padding: 0 var(--pui-spacing-100);
  border-radius: var(--pui-radius-medium);
  border: none;
  flex: 0 0 auto;
  width: fit-content;
  overflow: hidden;
  @include curson-feedback;

  @include focus-visible;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__children {
    padding: 0 var(--pui-spacing-100);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &_prefix &__children {
    padding-left: 0;
  }

  &_suffix &__children {
    padding-right: 0;
  }

  &_size {
    &-medium {
      height: 24px;
    }
    &-large {
      height: 32px;
    }
  }

  &_groupedPosition {
    &-left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-both {
      border-radius: 0;
    }
  }

  &_grouped + &_grouped {
    margin-left: -1px;
  }

  &_fullWidth {
    width: 100%;
  }

  @include Button_style-outlined("neutral", "default");
  @include Button_style-ghost("neutral", "default");
  @include Button_style-outlined("neutral", "brand");
  @include Button_style-ghost("neutral", "brand");
  @include Button_style-outlined("neutral", "danger");
  @include Button_style-ghost("neutral", "danger");
  @include Button_style-filled("neutral-inverted", "default");
  @include Button_style-filled("brand", "default");
  @include Button_style-filled("danger", "default");
  @include Button_style-filled("success", "default");

  &_disabled {
    cursor: auto !important;

    background-color: var(--pui-color-disabled-bg-default) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(--pui-color-disabled-bg-default) !important;
    }

    &:active {
      background-color: var(--pui-color-disabled-bg-default) !important;
    }
  }
}
