@use '../../shared.scss' as *;

.Bar {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--pui-color-neutral-bg-default);

  &_dividerTop {
    box-shadow: inset 0 1px 0 0 var(--pui-color-neutral-border-default);
  }

  &_dividerBottom {
    box-shadow: inset 0 -1px 0 0 var(--pui-color-neutral-border-default);
  }
}
