@use '../../shared.scss' as *;

.ListItem {
  --li-pt: var(--pui-spacing-100);
  --li-pb: var(--pui-spacing-100);

  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__content {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 1;

    outline-width: 1px;
    outline-color: transparent;
    outline-style: solid;
    outline-offset: -1px;
  }

  &__content-inner {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  &__items {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__children {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 24px;
    width: 100%;
    z-index: 1;
    padding-left: calc((var(--li-pl) + var(--pui-spacing-200)) * var(--level));
  }

  &__drag-handle {
    position: absolute;
    top: 0;
    height: 100%;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    user-select: none;
    opacity: 0;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &__collapse-toggle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  &_focused {
    outline: none;
  }

  &_focused:focus-visible > &__content {
    outline-color: var(--pui-color-system-border-focused);
  }

  /* Variant */

  // Default

  &_variant-default {
    --li-pr: var(--pui-spacing-400);
    --li-pl: var(--pui-spacing-400);
    --indent: calc((var(--li-pl) + var(--pui-spacing-200)) * var(--level));
    --indent-same-level: calc(var(--indent) + var(--li-pl));
    --indent-next-level: calc(var(--indent) + var(--li-pl) * 2 + var(--pui-spacing-200));
    --indent-extra-collapsible: calc(var(--pui-spacing-200) + var(--pui-spacing-100));
  }

  &_variant-default &__drag-handle {
    left: var(--indent);
  }

  &_variant-default &__content:hover > &__content-inner > &__drag-handle {
    opacity: 1;
  }

  &_variant-default &__content-inner {
    padding: var(--li-pt) var(--li-pr) var(--li-pb) var(--li-pl);
  }

  // Layer

  &_variant-layer {
    --li-pr: var(--pui-spacing-200);
    --li-pl: calc(var(--pui-spacing-200) + var(--pui-spacing-100));
    --indent: calc((var(--li-pl) + var(--pui-spacing-200)) * var(--level));
    --indent-same-level: calc(var(--indent) + var(--li-pl) + var(--pui-spacing-200));
    --indent-next-level: calc(var(--indent) + var(--li-pl) * 2 + var(--pui-spacing-200) + var(--pui-spacing-200));
    --indent-extra-collapsible: 0px;
  }

  &_variant-layer &__drag-handle {
    display: none;
  }

  &_variant-layer &__content {
    padding: var(--li-pt) var(--li-pr) var(--li-pb) var(--li-pl);
  }

  // Radius

  &_variant-layer > &__content > &__content-inner,
  &_variant-layer:is(&_has-children):is(&_collapsed) > &__content > &__content-inner {
    border-radius: var(--pui-radius-medium);
  }

  &_variant-layer:is(&_has-children):is(&_selection-scope-descendants):not(&_collapsed) > &__content > &__content-inner {
    border-radius: var(--pui-radius-medium) var(--pui-radius-medium) 0 0;
  }

  &_variant-layer:is(&_hoverable):not(&_selection-origin) > &__content:hover > &__content-inner {
    border-radius: var(--pui-radius-medium) !important;
  }

  /* Selected */

  &_selected:is(&_selection-origin) > &__content > &__content-inner {
    background-color: var(--pui-color-neutral-bg-default-selected);
  }

  &_selected:is(&_variant-default):is(&_selection-origin):is(&_selection-scope-descendants):is(&_has-children):not(&_collapsed) > &__items {
    background-color: var(--pui-color-neutral-bg-secondary-selected);
  }

  &_selected:is(&_variant-layer):is(&_selection-origin):is(&_selection-scope-descendants):is(&_has-children):not(&_collapsed) > &__items:after {
    content: '';
    position: absolute;
    top: calc(var(--li-pt) * -1);
    left: var(--li-pl);
    right: var(--li-pr);
    height: 100%;
    background-color: var(--pui-color-neutral-bg-secondary-selected);
    border-radius: 0 0 var(--pui-radius-medium) var(--pui-radius-medium);
    z-index: 0;
  }

  /* Hover */

  &_hoverable:not(&_selected) > &__content:hover > &__content-inner {
    background-color: var(--pui-color-neutral-bg-default-hover);
  }

  &_hoverable:is(&_selected):is(&_selection-scope-descendants) > &__items &__content:hover > &__content-inner {
    background-color: var(--pui-color-neutral-bg-default-selected-hover);
  }

  /* Draggable */

  &_drag-over {
    position: relative;
  }

  &__content > &__content-inner > &__children::before,
  &__content > &__content-inner > &__children::after {
    content: '';
    position: absolute;
    right: 0;
    width: auto;
    height: 2px;
    background-color: var(--pui-color-neutral-border-drop-position);
    z-index: 5;
    pointer-events: none;
    display: block; //
  }

  &_drag-above > &__content > &__content-inner > &__children::before,
  &_drag-inside > &__content > &__content-inner > &__children::after,
  &_drag-below > &__content > &__content-inner > &__children::after {
    display: block;
  }

  // Drop above
  & > &__content > &__content-inner > &__children::before,
  &_drag-above > &__content > &__content-inner > &__children::before {
    top: -1px;
  }

  &_drag-above > &__content > &__content-inner > &__children::before {
    left: var(--indent-same-level);
  }
  // Drop inside

  &_drag-inside > &__content > &__content-inner > &__children::after {
    bottom: -1px;
  }

  &_drag-inside > &__content > &__content-inner > &__children::after {
    left: var(--indent-next-level);
  }

  // Drop below

  &_drag-below > &__content > &__content-inner > &__children::after {
    bottom: -1px;
  }

  &_drag-below > &__content > &__content-inner > &__children::after {
    left: var(--indent-same-level);
  }

  // Drop parent, inside

  &_drop-parent > &__content,
  &_drag-inside > &__content {
    outline-color: var(--pui-color-neutral-border-default-selected);
  }

  /* Drop parent inside its own tree */

  &_dragging:is(&_selection-origin):is(&_drop-parent) > &__content,
  &_dragging:is(&_selection-origin) &:is(&_drop-parent) > &__content,
  &_dragging:is(&_selection-origin) &:is(&_drag-inside) > &__content {
    outline-color: var(--pui-color-neutral-border-danger-error);
  }

  &_dragging:is(&_selection-origin) & > &__content > &__content-inner > &__children::before,
  &_dragging:is(&_selection-origin) & > &__content > &__content-inner > &__children::after {
    background-color: var(--pui-color-neutral-border-danger-error);
  }

  &_dragging:is(&_selection-origin) &__items > .ListContainer > .ListContainer__end-dropzone-active {
    box-shadow: inset 0 -2px 0 0 var(--pui-color-neutral-border-danger-error) !important;
  }

  // With descendants

  &_dragging:is(&_selection-scope-descendants):is(&_selection-origin):is(&_drop-parent) > &__content,
  &_dragging:is(&_selection-scope-descendants):is(&_selection-origin) &:is(&_drop-parent) > &__content,
  &_dragging:is(&_selection-scope-descendants):is(&_selection-origin) &:is(&_drag-inside) > &__content {
    outline-color: transparent;
  }

  &_dragging:is(&_selection-scope-descendants):is(&_drag-self):is(&_drag-below) > &__content > &__content-inner > &__children::after,
  &_dragging:is(&_selection-scope-descendants):is(&_selection-origin) & > &__content > &__content-inner > &__children::before,
  &_dragging:is(&_selection-scope-descendants):is(&_selection-origin) & > &__content > &__content-inner &__children::after {
    display: none;
  }

  &_dragging:is(&_selection-scope-descendants):is(&_selection-origin) &__items > .ListContainer > .ListContainer__end-dropzone-active {
    box-shadow: inset 0 -2px 0 0 transparent !important;
  }

  /* Drop zone */

  &_draggable > &__items > .ListContainer > .ListContainer__end-dropzone {
    left: var(--indent-next-level) !important;
  }

  /* Collapsable */

  &_collapsed > &__items {
    display: none;
  }

  &_collapsable:is(&_has-children) > &__content > &__content-inner > &__collapse-toggle {
    display: flex;
  }

  &_collapsable:is(&_has-children):is(&_collapsed) > &__content > &__content-inner > &__collapse-toggle {
    display: flex;
  }

  &_collapsable:is(&_draggable) > &__content > &__content-inner > &__collapse-toggle {
    left: calc(var(--indent) + var(--indent-extra-collapsible));
  }

  &_variant-default:is(&_collapsable):is(&_draggable) > &__content > &__content-inner {
    padding-left: calc(var(--li-pl) + var(--indent-extra-collapsible));
  }

  &_drag-above:is(&_variant-default):is(&_collapsable):is(&_draggable) > &__content > &__content-inner > &__children::before {
    left: calc(var(--indent-same-level) + var(--indent-extra-collapsible));
  }

  &_drag-inside:is(&_variant-default):is(&_collapsable):is(&_draggable) > &__content > &__content-inner > &__children::after {
    left: calc(var(--indent-next-level) + var(--indent-extra-collapsible));
  }

  &_drag-below:is(&_variant-default):is(&_collapsable):is(&_draggable) > &__content > &__content-inner > &__children::after {
    left: calc(var(--indent-same-level) + var(--indent-extra-collapsible));
  }

  &_variant-default:is(&_collapsable):is(&_draggable) > &__items > .ListContainer > .ListContainer__end-dropzone {
    left: calc(var(--indent-next-level) + var(--indent-extra-collapsible)) !important;
  }

  /* Selection overrides */

  &_selected > &__content > &__content-inner > &__children .Input:not(.Input_ghost) > .Input__container {
    outline: 1px solid var(--pui-color-neutral-border-default-selected-contrast);
    outline-offset: 0px;
  }

  &_selected > &__content > &__content-inner > &__children .react-time-picker__inputGroup {
    outline: 1px solid var(--pui-color-neutral-border-default-selected-contrast);
    outline-offset: 0px;
  }

  &_selected > &__content > &__content-inner > &__children .Select {
    outline: 1px solid var(--pui-color-neutral-border-default-selected-contrast);
    outline-offset: 0px;
  }

  &_selected > &__content > &__content-inner > &__children .SegmentedControl {
    outline: 1px solid var(--pui-color-neutral-border-default-selected-contrast);
    outline-offset: 1px;
  }

  &_selected > &__content > &__content-inner > &__children .Switch:not(.Switch_checked) > .Switch__input {
    outline: 1px solid var(--pui-color-neutral-border-default-selected-contrast);
  }

  &_selected > &__content > &__content-inner > &__children .Checkbox:not(.Checkbox_intent-brand-default) > .Checkbox__input {
    box-shadow: inset 0 0 0 1px var(--pui-color-neutral-border-default-selected-contrast);
  }

  &_selected > &__content > &__content-inner > &__children .Button:is(.Button_intent-neutral-default):not(.Button_ghost),
  &_selected > &__content > &__content-inner > &__children .ButtonIcon:is(.ButtonIcon_intent-neutral-default):not(.ButtonIcon_ghost),
  &_selected > &__content > &__content-inner > &__children .ButtonIconToggle:is(.ButtonIconToggle_intent-neutral-default):not(.ButtonIconToggle_ghost) {
    box-shadow: inset 0 0 0 1px var(--pui-color-neutral-border-default-selected-contrast) !important;
  }
}
