@use "../../shared.scss" as *;

.MenuDivider {
  flex-shrink: 0;
  height: 1px;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: var(--pui-spacing-200) 0;

  &__line {
    height: 1px;
    width: 100%;
    background-color: var(--pui-color-neutral-inverted-fixed-border-default);
  }

  &_variant {
    &-full {
      padding: var(--pui-spacing-200) 0;
    }

    &-inset {
      padding: var(--pui-spacing-200) var(--pui-spacing-200);
    }
  }
}
