@use "../../shared.scss" as *;
@use "../../mixins.scss" as *;

.InputGroup {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.InputGroup:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline-width: 1px;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: -1px;
  z-index: 10;
  border-radius: var(--pui-radius-medium);
}

.InputGroup:hover:before {
  outline-color: var(--pui-color-neutral-border-default-interactive-hover);
}

.InputGroup:hover .Input:hover {
  outline-color: transparent !important;
}

.InputGroup:focus-within:before {
  outline-color: var(--pui-color-neutral-border-default-interactive-selected);
}

.InputGroup:focus-within .Input:focus-within {
  outline-color: transparent !important;
}

.InputGroup:focus-within .Button:focus-visible,
.InputGroup:focus-within .ButtonIcon:focus-within {
  outline-offset: -1px !important;
}
