@use "../../shared.scss" as *;
@use "../../mixins.scss" as *;

.Progress {
  $parent: &;

  position: relative;
  width: 100%;
  height: 4px;
  overflow: hidden;
  opacity: 0;

  &_visible {
    opacity: 1;
  }

  &_variant-indeterminate {
    background: linear-gradient(
      90deg,
      var(--pui-color-neutral-bg-secondary) 0%,
      var(--pui-color-brand-bg-default) 50%,
      var(--pui-color-neutral-bg-secondary) 100%
    );
    background-size: 200% 100%;
    animation: progress 1.6s linear infinite;

    @keyframes progress {
      0% {
        background-position: 200% 0;
      }
      100% {
        background-position: -200% 0;
      }
    }
  }

  &_variant-determinate {
    background-color: var(--pui-color-neutral-bg-secondary);
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--pui-color-brand-bg-default);
    transition: width 0.1s ease-out;
  }
}
