@use '../../shared.scss' as *;

.Spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    --_m: conic-gradient(#0000 0, var(--pui-color-neutral-icon-secondary)), linear-gradient(#000 0 0) content-box;
    mask: var(--_m);

    width: 100%;
    padding: 2px;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 0;
    background: var(--pui-color-neutral-icon-secondary);
    mask-composite: subtract;
    animation: l3 0.4s 0s infinite linear;
  }

  &_size-small {
    height: 14px;
    width: 14px;
  }

  &_size-medium {
    height: 24px;
    width: 24px;
  }
}

@keyframes l3 {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
