@use '../../shared.scss' as *;
@use '../../mixins.scss' as *;

.Select {
  position: relative;
  display: flex;
  align-items: center;
  height: 24px;
  -webkit-user-select: none; // Safari only supports the prefixed form
  user-select: none;
  width: fit-content;
  border-radius: var(--pui-radius-medium);
  overflow: hidden;

  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: var(--pui-color-neutral-border-default);

  &_fullWidth {
    width: 100%;
  }

  &_open {
    outline-width: 0px;
    background-color: var(--pui-color-neutral-bg-secondary);
  }

  &_focused,
  &:hover:is(:focus-within) {
    outline-color: var(--pui-color-neutral-border-default-selected) !important;
    z-index: 1;
  }

  &_ghost {
    background-color: transparent;
    outline-color: transparent;
  }

  &_selected {
    background-color: var(--pui-color-neutral-bg-default-selected);
    outline-color: transparent;
  }

  &_error {
    outline-color: var(--pui-color-neutral-border-danger-error) !important;
  }

  &_groupedPosition {
    &-first {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-last {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-middle {
      border-radius: 0;
    }
  }

  &__prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  &__content {
    align-self: stretch;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 var(--pui-spacing-100) 0 var(--pui-spacing-200);
    white-space: nowrap;
    overflow: hidden;
    cursor: default;

    @include typography-styles-default;
    @include typography-body-medium;

    color: var(--pui-color-neutral-text-default);

    .Select:not(.Select_filled) & {
      color: var(--pui-color-neutral-text-placeholder);
    }

    .Select:not(.Select_filled):is(.Select_selected) & {
      color: var(--pui-color-neutral-text-placeholder-selected);
    }

    .Select:is(.Select_filled):is(.Select_selected) & {
      color: var(--pui-color-neutral-text-default-selected);
    }
  }

  &_prefix &__content {
    padding-left: 0;
  }

  &__suffix {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-right: var(--pui-spacing-100);
  }

  &_disabled {
    cursor: auto;
    background-color: transparent !important;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--pui-color-neutral-border-disabled) !important;
  }

  &_disabled &__content {
    color: var(--pui-color-neutral-text-disabled) !important;
  }

  &_ghost:is(&_disabled) {
    background-color: transparent !important;
    outline-color: transparent !important;
  }
}
