@use "../../shared.scss" as *;

@mixin Icon_intent($intent, $modifiers) {
  &_intent-#{$intent}-#{$modifiers} {
    &.Icon_interactive {
      color: var(--pui-color-#{$intent}-icon-#{$modifiers}-interactive);
    }

    &.Icon_selected {
      color: var(
        --pui-color-#{$intent}-icon-#{$modifiers}-interactive-selected
      );
    }

    color: var(--pui-color-#{$intent}-icon-#{$modifiers});

    &.Icon_disabled {
      color: var(--pui-color-#{$intent}-icon-disabled) !important;
    }
  }
}

.Icon {
  $parent: &;

  display: flex;

  & > svg {
    display: block;
  }

  &_size {
    &-16,
    &-16 > svg {
      width: 16px;
      height: 16px;
    }

    &-24,
    &-24 > svg {
      width: 24px;
      height: 24px;
    }
  }

  @include Icon_intent("neutral", "default");
  @include Icon_intent("neutral", "secondary");
  @include Icon_intent("neutral", "brand");
  @include Icon_intent("neutral", "danger");
  @include Icon_intent("neutral", "warning");
  @include Icon_intent("neutral", "success");
  @include Icon_intent("neutral-inverted", "default");
  @include Icon_intent("neutral-inverted-fixed", "default");
  @include Icon_intent("neutral-inverted-fixed", "secondary");
  @include Icon_intent("brand", "default");
  @include Icon_intent("danger", "default");
  @include Icon_intent("warning", "default");
  @include Icon_intent("success", "default");
  @include Icon_intent("disabled", "default");
}
