@use "../../variables.scss" as *;

@mixin Icon_style($context, $modifiers) {
  &_context-#{$context}-#{$modifiers} {
    &.Icon_interactive {
      color: var(--pui-color-#{$context}-icon-#{$modifiers}-interactive);
    }

    &.Icon_selected {
      color: var(
        --pui-color-#{$context}-icon-#{$modifiers}-interactive-selected
      );
    }

    color: var(--pui-color-#{$context}-icon-#{$modifiers});
  }
}

.Icon {
  $parent: &;

  display: flex;

  & > svg {
    display: block;
  }

  &_size {
    &-16,
    &-16 > svg {
      width: 16px;
      height: 16px;
    }

    &-24,
    &-24 > svg {
      width: 24px;
      height: 24px;
    }
  }

  @include Icon_style("neutral", "default");
  @include Icon_style("neutral", "secondary");
  @include Icon_style("neutral", "brand");
  @include Icon_style("neutral", "danger");
  @include Icon_style("neutral", "warning");
  @include Icon_style("neutral", "success");
  @include Icon_style("neutral-inverted", "default");
  @include Icon_style("brand", "default");
  @include Icon_style("danger", "default");
  @include Icon_style("warning", "default");
  @include Icon_style("success", "default");
  @include Icon_style("disabled", "default");

  &_disabled {
    &.Icon_interactive {
      color: var(--pui-color-disabled-icon-default);
    }

    &.Icon_selected {
      color: var(--pui-color-disabled-icon-default);
    }

    color: var(--pui-color-disabled-icon-default);
  }
}
