@use '../../shared.scss' as *;

.PopoverHeader {
  &__content {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;
    gap: var(--pui-spacing-200);
    padding: var(--pui-spacing-200) var(--pui-spacing-200) var(--pui-spacing-200) var(--pui-spacing-400);
    border-bottom: 1px solid var(--pui-color-neutral-border-default);
  }
}
