@use '../../shared.scss' as *;

.MenuItemGroup {
  padding: 0 var(--pui-spacing-200);

  &__content {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--pui-spacing-200);
    padding: var(--pui-spacing-100) var(--pui-spacing-200);
    border-radius: var(--pui-radius-medium);
  }

  &__children {
    width: 100%;
  }

  &_paddingLikeOption &__content {
    padding-left: calc(var(--pui-spacing-200) + var(--pui-spacing-200) + 16px);
  }
}
