@use "../../shared.scss" as *;

.ColorSwatch {
  $parent: &;

  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  position: relative;

  border: none;
  outline: none;
  background-color: transparent;

  &_size {
    &-small {
      width: 14px;
      height: 14px;
      border-radius: var(--pui-radius-small);

      #{$parent}__container {
        border-radius: var(--pui-radius-small);
      }

      &:is(#{$parent}_selection-rainbow):after {
        border-radius: calc(var(--pui-radius-small) + 2px);
      }
    }

    &-medium {
      width: 16px;
      height: 16px;
      border-radius: var(--pui-radius-small);

      #{$parent}__container {
        border-radius: var(--pui-radius-small);
      }

      &:is(#{$parent}_selection-rainbow):after {
        border-radius: calc(var(--pui-radius-small) + 2px);
      }
    }

    &-large {
      width: 28px;
      height: 28px;
      border-radius: var(--pui-radius-medium);

      #{$parent}__container {
        border-radius: var(--pui-radius-medium);
      }

      &:is(#{$parent}_selection-rainbow):after {
        border-radius: calc(var(--pui-radius-small) + 4px);
      }
    }
  }

  &__container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    background-clip: content-box;
    background-color: var(--pui-color-neutral-bg-swatch);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEwMjc1NzNfMzI0MikiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1KSIgZmlsbD0iYmxhY2siIGZpbGwtb3BhY2l0eT0iMC4xMiIvPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDUpIiBmaWxsPSJibGFjayIgZmlsbC1vcGFjaXR5PSIwLjEyIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfMTAyNzU3M18zMjQyIj4KPHJlY3Qgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
    background-size: 10px;
    background-position: left top;
    background-repeat: repeat;
    mask-image: radial-gradient(circle, #fff 99%, transparent 100%);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 1px var(--pui-color-neutral-border-swatch);
      z-index: 5;
      border-radius: inherit;
    }
  }

  &__fill {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
  }

  &__children {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px
      var(--pui-color-neutral-border-brand-interactive-selected);
  }

  &_interactive:not(&_selected) {
    &:hover {
      box-shadow: 0 0 0 2px
        var(--pui-color-neutral-border-brand-interactive-hover);
    }
  }

  &_selected {
    box-shadow: 0 0 0 2px
      var(--pui-color-neutral-border-brand-interactive-selected);

    #{$parent}__container:before {
      display: none;
    }
  }

  &_selected:is(&_selection-rainbow),
  &_selected:is(&_selection-rainbow) {
    box-shadow: none;

    &:after {
      content: "";
      position: absolute;
      inset: -2px;
      background: conic-gradient(
        magenta,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta
      );
      z-index: 0;
    }

    & #{$parent}__container {
      border: 2px solid var(--pui-color-neutral-bg-default);
    }
  }

  &_interactive:is(&_selected),
  &_interactive:is(&_selection-rainbow) {
    &:focus-visible {
      box-shadow: 0 0 0 1px
        var(--pui-color-neutral-border-brand-interactive-selected);
    }

    &:focus-visible:after {
      display: none;
    }
  }
}
