@use "../../shared.scss" as *;

.Divider {
  $parent: &;

  width: 100%;
  display: flex;
  overflow: hidden;

  &__line {
    height: 1px;
    width: 100%;
    background-color: var(--pui-color-neutral-border-default);
  }

  &_variant {
    &-full {
      padding: 0;
    }

    &-inset {
      padding: 0 var(--pui-spacing-400);
    }
  }
}
