.figma-light {
  /* ========================== Background ========================== */

  /* Neutral */
  --pui-color-neutral-bg-primary: #ffffff; // --figma-color-bg
  --pui-color-neutral-bg-primary-hover: #0000000d;
  --pui-color-neutral-bg-primary-pressed: #0000001a;

  --pui-color-neutral-bg-brand-hover: #e5f4ff; // --figma-color-bg-brand-tertiary
  --pui-color-neutral-bg-brand-pressed: #c4e5fd;

  --pui-color-neutral-bg-destructive-hover: #ffe2e0; //--figma-color-bg-danger-tertiary
  --pui-color-neutral-bg-destructive-pressed: #f7cac7;

  /* Brand */
  --pui-color-bg-brand-primary: #0d99ff; // --figma-color-bg-brand
  --pui-color-bg-brand-primary-hover: #007be5; // --figma-color-bg-brand-hover
  --pui-color-bg-brand-primary-pressed: #006fd0; // --figma-color-bg-brand-pressed

  /* Destructive */
  --pui-color-bg-destructive-primary: #f24822; // --figma-color-bg-danger
  --pui-color-bg-destructive-primary-hover: #dc3412; // --figma-color-bg-danger-hover
  --pui-color-bg-destructive-primary-pressed: #c82c0d; // --figma-color-bg-danger-pressed

  /* Success */
  --pui-color-bg-success-primary: #14ae5c; // --figma-color-bg-success
  --pui-color-bg-success-primary-hover: #009951; // --figma-color-bg-success-hover
  --pui-color-bg-success-primary-pressed: #008748; // --figma-color-bg-success-pressed

  /* Disabled */
  --pui-color-bg-disabled: #d9d9d9; // --figma-color-bg-disabled

  /* ========================== Text ========================== */

  /* Neutral */
  --pui-color-text-on-neutral-primary: #000000e6; // --figma-color-text
  --pui-color-text-on-neutral-brand: #007be5; // --figma-color-text-brand
  --pui-color-text-on-neutral-destructive: #dc3412; // --figma-color-text-danger
  --pui-color-text-on-neutral-disabled: #0000004d; // --figma-color-text-disabled

  /* Brand */
  --pui-color-text-on-brand-primary: #ffffff; // --figma-color-text-onbrand

  /* Destructive */
  --pui-color-text-on-destructive-primary: #ffffff; // --figma-color-text-ondanger

  /* Success */
  --pui-color-text-on-success-primary: #ffffff; // --figma-color-text-onsuccess

  /* Disabled */
  --pui-color-text-on-disabled: #ffffff; // --figma-color-text-ondisabled

  /* ========================== Icon ========================== */

  /* Neutral */
  --pui-color-icon-on-neutral-primary: #000000e6; // --figma-color-icon
  --pui-color-icon-on-neutral-brand: #007be5; // --figma-color-icon-brand
  --pui-color-icon-on-neutral-destructive: #f24822; // --figma-color-icon-danger
  --pui-color-icon-on-neutral-disabled: #0000004d; // --figma-color-icon-disabled

  /* Brand */
  --pui-color-icon-on-brand-primary: #ffffff; // --figma-color-icon-onbrand

  /* Destructive */
  --pui-color-icon-on-destructive-primary: #ffffff; // --figma-color-icon-ondanger

  /* Success */
  --pui-color-icon-on-success-primary: #ffffff; // --figma-color-icon-onsuccess

  /* Disabled */
  --pui-color-icon-on-disabled: #ffffff; // --figma-color-icon-ondisabled

  /* ========================== Border ========================== */

  /* Neutral */
  --pui-color-border-on-neutral: #e6e6e6; // --figma-color-border
  --pui-color-border-on-neutral-selected: #0d99ff; // --figma-color-border-selected
  --pui-color-border-on-neutral-destructive: #ffc7c2; // --figma-color-border-danger
  --pui-color-border-on-neutral-disabled: #0000001a; // --figma-color-border-disabled
}
