.figma-light {
  /*
  * Naming convention:
  * --pui-color_{context}_{element}_{modifiers}
  *
  * {context}: neutral, neutral-inverted, brand, danger, warning, success, disabled
  * {element}: bg, text, icon, border
  * {modifiers}: default, secondary, interactive, hover, pressed, selected, selected-hover, selected-pressed
  **/

  $colors: (
    neutral: (
      bg: (
        default: #ffffff,
        secondary: #f5f5f5,

        interactive: #ffffff,
        interactive-secondary: #f5f5f5,
        interactive-hover: #f5f5f5,
        interactive-pressed: #e5e5e5,

        interactive-selected: #e5f4ff,
        interactive-selected-secondary: #f2f9ff,
        interactive-selected-hover: #bde3ff,
        interactive-selected-pressed: #e5f4ff,

        interactive-brand: #ffffff,
        interactive-brand-hover: #e5f4ff,
        interactive-brand-pressed: #bde3ff,

        interactive-danger: #ffffff,
        interactive-danger-hover: #fff0f0,
        interactive-danger-pressed: #ffe2e0,
      ),
      text: (
        default: #1a1a1a,
        secondary: #7d7d7d,

        brand: #007be5,
        danger: #dc3412,
        warning: #b86200,
        success: #009951,

        interactive: #1a1a1a,
        interactive-secondary: #ababab,
        interactive-selected: #007be5,

        interactive-brand: #007be5,

        interactive-danger: #dc3412,
      ),
      icon: (
        default: #1a1a1a,
        secondary: #7d7d7d,

        brand: #007be5,
        danger: #dc3412,
        warning: #b86200,
        success: #009951,

        interactive: #1a1a1a,
        interactive-selected: #007be5,

        interactive-brand: #007be5,

        interactive-danger: #dc3412,
      ),
      border: (
        default: #e5e5e5,
        secondary: #cccccc,

        brand: #bde3ff,
        danger: #ffc7c2,
        warning: #fcd19c,
        success: #aff4c6,

        interactive: #e5e5e5,
        interactive-selected: #0d99ff,
        interactive-selected-error: #f24822,
        interactive-drop-position: #1a1a1a,
        interactive-drop-position-restricted: #f24822,

        interactive-brand: #bde3ff,

        interactive-danger: #ffc7c2,
      ),
    ),
    neutral-inverted: (
      bg: (
        default: #2c2c2c,

        interactive: #2c2c2c,
        interactive-hover: #5c5c5c,
        interactive-pressed: #808080,
      ),
      text: (
        default: #ffffff,

        interactive: #ffffff,
        // secondary?
      ),
      icon: (
        default: #ffffff,

        interactive: #ffffff,
        // secondary?
      ),
      border: (
        default: #333333,

        interactive: #333333,
        // secondary?
        //interactive?,
      ),
    ),
    brand: (
      bg: (
        default: #0d99ff,

        interactive: #0d99ff,
        interactive-hover: #007be5,
        interactive-pressed: #0768cf,
      ),
      text: (
        default: #ffffff,
        // secondary?
        interactive: #ffffff,
      ),
      icon: (
        default: #ffffff,
        // secondary?
        interactive: #ffffff,
      ),
      border: (
        // default?
        // secondary?,
        interactive: #007be5,
      ),
    ),
    danger: (
      bg: (
        default: #f24822,

        interactive: #f24822,
        interactive-hover: #dc3412,
        interactive-pressed: #bd2915,
      ),
      text: (
        default: #ffffff,
        // secondary?
        interactive: #ffffff,
      ),
      icon: (
        default: #ffffff,
        // secondary?
        interactive: #ffffff,
      ),
      border: (
        interactive: #dc3412,
        // default?
        // secondary?,
      ),
    ),
    warning: (
      bg: (
        default: #ffcd29,
        // interactive?
      ),
      text: (
        default: #000000,
        // secondary?
        // interactive?,
      ),
      icon: (
        default: #000000,
        // secondary?
        // interactive?,
      ),
      border: (
        // default?
        // secondary?,
        // interactive?,
      ),
    ),
    success: (
      bg: (
        default: #14ae5c,

        interactive: #14ae5c,
        interactive-hover: #009951,
        interactive-pressed: #008043,
      ),
      text: (
        default: #ffffff,
        // secondary?
        interactive: #ffffff,
      ),
      icon: (
        default: #ffffff,
        // secondary?
        interactive: #ffffff,
      ),
      border: (
        // default?
        // secondary?,
        // interactive?
        interactive: #009951,
      ),
    ),
    disabled: (
      bg: (
        default: #d9d9d9,
        secondary: #ffffff,
      ),
      text: (
        default: #989898,
      ),
      icon: (
        default: #989898,
      ),
      border: (
        default: #b3b3b3,
        secondary: #e5e5e5,
      ),
    ),
    system: (
      border: (
        focus: #0d99ff,
      ),
    ),
  );

  @each $role, $role-value in $colors {
    @each $element, $element-value in $role-value {
      @each $hierarchy, $hierarchy-value in $element-value {
        --pui-color-#{$role}-#{$element}-#{$hierarchy}: #{$hierarchy-value};
      }
    }
  }
}
