.figma-light {
  /* ========================== Background ========================== */

  /* Neutral */
  --pui-color-bg-neutral: #ffffff;
  --pui-color-bg-neutral-hover: #f5f5f5;
  --pui-color-bg-neutral-pressed: #e5e5e5;
  --pui-color-bg-neutral-selected: #e5f4ff;
  --pui-color-bg-neutral-selected-hover: #f2f9ff;
  --pui-color-bg-neutral-selected-pressed: #e5f4ff;

  --pui-color-bg-neutral-secondary: #f3f3f3;

  --pui-color-bg-neutral-branded-hover: #f2f9ff;
  --pui-color-bg-neutral-branded-pressed: #e5f4ff;

  --pui-color-bg-neutral-danger-hover: #fff3f1;
  --pui-color-bg-neutral-danger-pressed: #ffe2e0;

  /* Brand */
  --pui-color-bg-brand: #0d99ff;
  --pui-color-bg-brand-hover: #007be5;
  --pui-color-bg-brand-pressed: #0768cf;

  /* Destructive */
  --pui-color-bg-destructive: #f24822;
  --pui-color-bg-destructive-hover: #dc3412;
  --pui-color-bg-destructive-pressed: #bd2915;

  /* Success */
  --pui-color-bg-success: #14ae5c;
  --pui-color-bg-success-hover: #009951;
  --pui-color-bg-success-pressed: #008043;

  /* Disabled */
  --pui-color-bg-disabled: #d9d9d9;

  /* ========================== Text ========================== */

  /* On Neutral */
  --pui-color-text-onneutral: #1a1a1a;
  --pui-color-text-onneutral-disabled: #b2b2b2;

  --pui-color-text-onneutral-branded: #007be5;

  --pui-color-text-onneutral-danger: #dc3412;

  /* On Brand */
  --pui-color-text-onbrand: #ffffff;

  /* On Destructive */
  --pui-color-text-ondestructive: #ffffff;

  /* On Success */
  --pui-color-text-onsuccess: #ffffff;

  /* On Disabled */
  --pui-color-text-ondisabled: #ffffff;

  /* ========================== Icon ========================== */

  /* On Neutral */
  --pui-color-icon-onneutral: #1a1a1a;
  --pui-color-icon-onneutral-selected: #007be5;
  --pui-color-icon-onneutral-disabled: #989898;

  --pui-color-icon-onneutral-branded: #007be5;

  --pui-color-icon-onneutral-danger: #f24822;

  /* On Brand */
  --pui-color-icon-onbrand: #ffffff;

  /* On Destructive */
  --pui-color-icon-ondestructive: #ffffff;

  /* On Success */
  --pui-color-icon-onsuccess: #ffffff;

  /* On Disabled */
  --pui-color-icon-ondisabled: #ffffff;

  /* ========================== Border ========================== */

  /* On Neutral */
  --pui-color-border: #e5e5e5;
  --pui-color-border-selected: #0d99ff;
  --pui-color-border-selected-strong: #007be5;
  --pui-color-border-disabled: #e5e5e5;

  --pui-color-border-danger: #ffc7c2;
}
