.figma-dark {
  /* ========================== Background ========================== */

  /* Neutral */
  --pui-color-neutral-bg: #2c2c2c;
  --pui-color-neutral-bg-hover: #383838;
  --pui-color-neutral-bg-pressed: #444444;
  --pui-color-neutral-bg-selected: #4a5878;
  --pui-color-neutral-bg-selected-hover: #394360;
  --pui-color-neutral-bg-selected-pressed: #4a5878;

  --pui-color-neutral-bg-secondary: #383838;

  --pui-color-neutral-bg-branded-hover: #394360;
  --pui-color-neutral-bg-branded-pressed: #4a5878;

  --pui-color-neutral-bg-danger-hover: #60332a;
  --pui-color-neutral-bg-danger-pressed: #7b3e31;

  /* Brand */
  --pui-color-bg-brand: #0c8ce9;
  --pui-color-bg-brand-hover: #0a6dc2;
  --pui-color-bg-brand-pressed: #0763b4;

  /* Destructive */
  --pui-color-bg-destructive: #e03e1a;
  --pui-color-bg-destructive-hover: #c4381c;
  --pui-color-bg-destructive-pressed: #b33117;

  /* Success */
  --pui-color-bg-success: #198f51;
  --pui-color-bg-success-hover: #078348;
  --pui-color-bg-success-pressed: #06753f;

  /* Disabled */
  --pui-color-bg-disabled: #757575;

  /* ========================== Text ========================== */

  /* On Neutral */
  --pui-color-text-onneutral: #ffffff;
  --pui-color-text-onneutral-disabled: #808080;

  --pui-color-text-onneutral-branded: #7cc4f8;

  --pui-color-text-onneutral-danger: #fca397;

  /* On Brand */
  --pui-color-text-onbrand: #ffffff;

  /* On Destructive */
  --pui-color-text-ondestructive: #ffffff;

  /* On Success */
  --pui-color-text-onsuccess: #ffffff;

  /* On Disabled */
  --pui-color-text-ondisabled: #2c2c2c;

  /* ========================== Icon ========================== */

  /* Neutral */
  --pui-color-icon-onneutral: #ffffff;
  --pui-color-icon-onneutral-selected: #7cc4f8;
  --pui-color-icon-onneutral-disabled: #acacac;

  --pui-color-icon-onneutral-branded: #7cc4f8;

  --pui-color-icon-onneutral-danger: #fca397;

  /* On Brand */
  --pui-color-icon-onbrand: #ffffff;

  /* On Destructive */
  --pui-color-icon-ondestructive: #ffffff;

  /* On Success */
  --pui-color-icon-onsuccess: #ffffff;

  /* On Disabled */
  --pui-color-icon-ondisabled: #2c2c2c;

  /* ========================== Border ========================== */

  /* On Neutral */
  --pui-color-border-onneutral: #444444;
  --pui-color-border-onneutral-selected: #0c8ce9;
  --pui-color-border-onneutral-disabled: #444444;

  --pui-color-border-onneutral-danger: #963323;
}
