@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

.Checkbox {
  $parent: &;

  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  gap: var(--pui-space-200);

  @include curson-feedback;

  &__input-native {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }

  &__input {
    flex: 0 0 16px;
    height: 16px;
    position: relative;
    background-color: var(--pui-color-neutral-bg-interactive);
    border-radius: var(--pui-radius-medium);
    @include focus-within;

    box-shadow: inset 0 0 0 1px var(--pui-color-neutral-border-interactive);

    & .Icon {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__label {
    color: var(--pui-color-neutral-text-interactive);
  }

  &_disabled {
    #{$parent}__input {
      background-color: var(--pui-color-disabled-bg-default);
      box-shadow: inset 0 0 0 1px var(--pui-color-disabled-border-default);
    }

    #{$parent}__label {
      color: var(--pui-color-disabled-text-default);
    }
  }

  &_checked {
    #{$parent}__input {
      background-color: var(--pui-color-brand-bg-interactive);
      box-shadow: inset 0 0 0 1px var(--pui-color-brand-border-interactive);

      & .Icon {
        color: var(--pui-color-brand-icon-interactive);
      }
    }
  }

  &_disabled {
    #{$parent}__input {
      background-color: var(--pui-color-disabled-bg-default);
      box-shadow: none;

      & .Icon {
        color: var(--pui-color-disabled-icon-default);
      }
    }

    #{$parent}__label {
      color: var(--pui-color-disabled-text-default);
    }
  }
}
