@use "../../shared.scss" as *;

.Section {
  $parent: &;

  flex: 0 0 100%;
  width: 100%;
  display: flex;
  padding: var(--pui-spacing-200) var(--pui-spacing-400);

  &__children {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }
}
