@use "../../shared.scss" as *;

.Section {
  $parent: &;

  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--pui-spacing-200) var(--pui-spacing-400);
  position: relative;
}
