:root {
  --pui-spacing-100: 4px;
  --pui-spacing-200: 8px;
  --pui-spacing-400: 16px;
  --pui-spacing-600: 24px;
  --pui-spacing-800: 32px;
  --pui-spacing-1000: 40px;
}

:root {
  --pui-radius-small: 2px;
  --pui-radius-medium: 5px;
  --pui-radius-large: 13px;
  --pui-radius-full: 100%;
}

.figma-light {
  --pui-color-neutral-bg-default: #ffffff;
  --pui-color-neutral-bg-default-interactive: #ffffff;
  --pui-color-neutral-bg-default-interactive-hover: #f5f5f5;
  --pui-color-neutral-bg-default-interactive-pressed: #e5e5e5;
  --pui-color-neutral-bg-default-interactive-selected: #e5f4ff;
  --pui-color-neutral-bg-default-interactive-selected-hover: #bde3ff;
  --pui-color-neutral-bg-default-interactive-selected-pressed: #e5f4ff;
  --pui-color-neutral-bg-secondary: #f5f5f5;
  --pui-color-neutral-bg-secondary-interactive: #f5f5f5;
  --pui-color-neutral-bg-secondary-interactive-selected: #f2f9ff;
  --pui-color-neutral-bg-brand-interactive: #ffffff;
  --pui-color-neutral-bg-brand-interactive-hover: #e5f4ff;
  --pui-color-neutral-bg-brand-interactive-pressed: #bde3ff;
  --pui-color-neutral-bg-danger-interactive: #ffffff;
  --pui-color-neutral-bg-danger-interactive-hover: #fff0f0;
  --pui-color-neutral-bg-danger-interactive-pressed: #ffe2e0;
  --pui-color-neutral-bg-swatch: #ffffff;
  --pui-color-neutral-bg-disabled: #ffffff;
  --pui-color-neutral-text-default: #1a1a1a;
  --pui-color-neutral-text-default-interactive: #1a1a1a;
  --pui-color-neutral-text-default-interactive-selected: #007be5;
  --pui-color-neutral-text-secondary: #7d7d7d;
  --pui-color-neutral-text-secondary-interactive: #7d7d7d;
  --pui-color-neutral-text-placeholder: #808080;
  --pui-color-neutral-text-brand: #007be5;
  --pui-color-neutral-text-brand-interactive: #007be5;
  --pui-color-neutral-text-danger: #dc3412;
  --pui-color-neutral-text-danger-interactive: #dc3412;
  --pui-color-neutral-text-warning: #b86200;
  --pui-color-neutral-text-success: #009951;
  --pui-color-neutral-text-disabled: #b3b3b3;
  --pui-color-neutral-icon-default: #1a1a1a;
  --pui-color-neutral-icon-default-interactive: #1a1a1a;
  --pui-color-neutral-icon-default-interactive-selected: #007be5;
  --pui-color-neutral-icon-secondary: #7d7d7d;
  --pui-color-neutral-icon-tertiary: #cccccc;
  --pui-color-neutral-icon-brand: #007be5;
  --pui-color-neutral-icon-brand-interactive: #007be5;
  --pui-color-neutral-icon-danger: #dc3412;
  --pui-color-neutral-icon-danger-interactive: #dc3412;
  --pui-color-neutral-icon-warning: #b86200;
  --pui-color-neutral-icon-success: #009951;
  --pui-color-neutral-icon-disabled: #b3b3b3;
  --pui-color-neutral-border-default: #e5e5e5;
  --pui-color-neutral-border-default-interactive: #e5e5e5;
  --pui-color-neutral-border-default-interactive-selected: #0d99ff;
  --pui-color-neutral-border-default-interactive-selected-error: #f24822;
  --pui-color-neutral-border-secondary: #cccccc;
  --pui-color-neutral-border-brand: #80CAFF;
  --pui-color-neutral-border-brand-interactive: #80CAFF;
  --pui-color-neutral-border-danger: #ffc7c2;
  --pui-color-neutral-border-danger-interactive: #ffc7c2;
  --pui-color-neutral-border-warning: #fcd19c;
  --pui-color-neutral-border-success: #aff4c6;
  --pui-color-neutral-border-drop-position: #1a1a1a;
  --pui-color-neutral-border-drop-position-restricted: #f24822;
  --pui-color-neutral-border-swatch: #0000001A;
  --pui-color-neutral-border-disabled: #e5e5e5;
  --pui-color-neutral-inverted-bg-default: #2c2c2c;
  --pui-color-neutral-inverted-bg-default-interactive: #2c2c2c;
  --pui-color-neutral-inverted-bg-default-interactive-hover: #5c5c5c;
  --pui-color-neutral-inverted-bg-default-interactive-pressed: #808080;
  --pui-color-neutral-inverted-bg-disabled: #d9d9d9;
  --pui-color-neutral-inverted-text-default: #ffffff;
  --pui-color-neutral-inverted-text-default-interactive: #ffffff;
  --pui-color-neutral-inverted-text-disabled: #ffffff;
  --pui-color-neutral-inverted-icon-default: #ffffff;
  --pui-color-neutral-inverted-icon-default-interactive: #ffffff;
  --pui-color-neutral-inverted-icon-disabled: #ffffff;
  --pui-color-neutral-inverted-fixed-bg-default: #1E1E1E;
  --pui-color-neutral-inverted-fixed-bg-default-interactive: #1E1E1E;
  --pui-color-neutral-inverted-fixed-bg-default-interactive-hover: #5c5c5c;
  --pui-color-neutral-inverted-fixed-bg-default-interactive-pressed: #808080;
  --pui-color-neutral-inverted-fixed-bg-disabled: #1E1E1E;
  --pui-color-neutral-inverted-fixed-text-default: #ffffff;
  --pui-color-neutral-inverted-fixed-text-default-interactive: #ffffff;
  --pui-color-neutral-inverted-fixed-text-secondary: #BBBBBB;
  --pui-color-neutral-inverted-fixed-text-secondary-interactive: #BBBBBB;
  --pui-color-neutral-inverted-fixed-text-disabled: #808080;
  --pui-color-neutral-inverted-fixed-icon-default: #ffffff;
  --pui-color-neutral-inverted-fixed-icon-default-interactive: #ffffff;
  --pui-color-neutral-inverted-fixed-icon-secondary: #BBBBBB;
  --pui-color-neutral-inverted-fixed-icon-secondary-interactive: #BBBBBB;
  --pui-color-neutral-inverted-fixed-icon-disabled: #808080;
  --pui-color-neutral-inverted-fixed-border-default: #383838;
  --pui-color-brand-bg-default: #0d99ff;
  --pui-color-brand-bg-default-interactive: #0d99ff;
  --pui-color-brand-bg-default-interactive-hover: #007be5;
  --pui-color-brand-bg-default-interactive-pressed: #0768cf;
  --pui-color-brand-bg-disabled: #d9d9d9;
  --pui-color-brand-text-default: #ffffff;
  --pui-color-brand-text-default-interactive: #ffffff;
  --pui-color-brand-text-disabled: #ffffff;
  --pui-color-brand-icon-default: #ffffff;
  --pui-color-brand-icon-default-interactive: #ffffff;
  --pui-color-brand-icon-disabled: #ffffff;
  --pui-color-brand-border-default-interactive: #007be5;
  --pui-color-danger-bg-default: #f24822;
  --pui-color-danger-bg-default-interactive: #f24822;
  --pui-color-danger-bg-default-interactive-hover: #dc3412;
  --pui-color-danger-bg-default-interactive-pressed: #bd2915;
  --pui-color-danger-bg-disabled: #d9d9d9;
  --pui-color-danger-text-default: #ffffff;
  --pui-color-danger-text-default-interactive: #ffffff;
  --pui-color-danger-text-disabled: #ffffff;
  --pui-color-danger-icon-default: #ffffff;
  --pui-color-danger-icon-default-interactive: #ffffff;
  --pui-color-danger-icon-disabled: #ffffff;
  --pui-color-danger-border-default-interactive: #dc3412;
  --pui-color-warning-bg-default: #ffcd29;
  --pui-color-warning-text-default: #000000;
  --pui-color-warning-icon-default: #000000;
  --pui-color-success-bg-default: #14ae5c;
  --pui-color-success-bg-default-interactive: #14ae5c;
  --pui-color-success-bg-default-interactive-hover: #009951;
  --pui-color-success-bg-default-interactive-pressed: #008043;
  --pui-color-success-bg-disabled: #d9d9d9;
  --pui-color-success-text-default: #ffffff;
  --pui-color-success-text-default-interactive: #ffffff;
  --pui-color-success-text-disabled: #ffffff;
  --pui-color-success-icon-default: #ffffff;
  --pui-color-success-icon-default-interactive: #ffffff;
  --pui-color-success-icon-disabled: #ffffff;
  --pui-color-success-border-default-interactive: #009951;
  --pui-color-system-bg-scrollbar: #D4D4D4;
  --pui-color-system-bg-resizer: #A8A8A8;
  --pui-color-system-border-focus: #0d99ff;
  --pui-color-shadow-popover-hard: #0000003d;
  --pui-color-shadow-popover-soft: #00000029;
  --pui-color-shadow-popover-glare: #0000000a;
  --pui-color-shadow-tooltip-hard: #0000001a;
  --pui-color-shadow-tooltip-soft: #0000001f;
  --pui-color-shadow-tooltip-glare: #ffffff14;
  --pui-color-shadow-menu-hard: #0000008a;
  --pui-color-shadow-menu-soft: #00000052;
  --pui-color-shadow-menu-glare: #ffffff14;
}

.figma-dark {
  --pui-color-neutral-bg-default: #2C2C2C;
  --pui-color-neutral-bg-default-interactive: #2C2C2C;
  --pui-color-neutral-bg-default-interactive-hover: #383838;
  --pui-color-neutral-bg-default-interactive-pressed: #444444;
  --pui-color-neutral-bg-default-interactive-selected: #4A5878;
  --pui-color-neutral-bg-default-interactive-selected-hover: #394360;
  --pui-color-neutral-bg-default-interactive-selected-pressed: #4A5878;
  --pui-color-neutral-bg-secondary: #383838;
  --pui-color-neutral-bg-secondary-interactive: #383838;
  --pui-color-neutral-bg-secondary-interactive-selected: #394360;
  --pui-color-neutral-bg-brand-interactive: #2C2C2C;
  --pui-color-neutral-bg-brand-interactive-hover: #394360;
  --pui-color-neutral-bg-brand-interactive-pressed: #4A5878;
  --pui-color-neutral-bg-danger-interactive: #2C2C2C;
  --pui-color-neutral-bg-danger-interactive-hover: #60332A;
  --pui-color-neutral-bg-danger-interactive-pressed: #864537;
  --pui-color-neutral-bg-swatch: #ffffff;
  --pui-color-neutral-bg-disabled: #2C2C2C;
  --pui-color-neutral-text-default: #ffffff;
  --pui-color-neutral-text-default-interactive: #ffffff;
  --pui-color-neutral-text-default-interactive-selected: #7CC4F8;
  --pui-color-neutral-text-secondary: #C0C0C0;
  --pui-color-neutral-text-secondary-interactive: #C0C0C0;
  --pui-color-neutral-text-placeholder: #A0A0A0;
  --pui-color-neutral-text-brand: #7CC4F8;
  --pui-color-neutral-text-brand-interactive: #7CC4F8;
  --pui-color-neutral-text-danger: #FCA397;
  --pui-color-neutral-text-danger-interactive: #FCA397;
  --pui-color-neutral-text-warning: #F7D15F;
  --pui-color-neutral-text-success: #79D297;
  --pui-color-neutral-text-disabled: #808080;
  --pui-color-neutral-icon-default: #ffffff;
  --pui-color-neutral-icon-default-interactive: #ffffff;
  --pui-color-neutral-icon-default-interactive-selected: #7CC4F8;
  --pui-color-neutral-icon-secondary: #C0C0C0;
  --pui-color-neutral-icon-tertiary: #767676;
  --pui-color-neutral-icon-brand: #7CC4F8;
  --pui-color-neutral-icon-brand-interactive: #7CC4F8;
  --pui-color-neutral-icon-danger: #FCA397;
  --pui-color-neutral-icon-danger-interactive: #FCA397;
  --pui-color-neutral-icon-warning: #F7D15F;
  --pui-color-neutral-icon-success: #79D297;
  --pui-color-neutral-icon-disabled: #808080;
  --pui-color-neutral-border-default: #444444;
  --pui-color-neutral-border-default-interactive: #444444;
  --pui-color-neutral-border-default-interactive-selected: #0C8CE9;
  --pui-color-neutral-border-default-interactive-selected-error: #D4583B;
  --pui-color-neutral-border-secondary: #767676;
  --pui-color-neutral-border-brand: #536383;
  --pui-color-neutral-border-brand-interactive: #536383;
  --pui-color-neutral-border-danger: #963323;
  --pui-color-neutral-border-danger-interactive: #963323;
  --pui-color-neutral-border-warning: #925711;
  --pui-color-neutral-border-success: #0A5C35;
  --pui-color-neutral-border-drop-position: #ffffff;
  --pui-color-neutral-border-drop-position-restricted: #D4583B;
  --pui-color-neutral-border-swatch: #00000000;
  --pui-color-neutral-border-disabled: #444444;
  --pui-color-neutral-inverted-bg-default: #ffffff;
  --pui-color-neutral-inverted-bg-default-interactive: #ffffff;
  --pui-color-neutral-inverted-bg-default-interactive-hover: #e5e5e5;
  --pui-color-neutral-inverted-bg-default-interactive-pressed: #D9D9D9;
  --pui-color-neutral-inverted-bg-disabled: #757575;
  --pui-color-neutral-inverted-text-default: #1a1a1a;
  --pui-color-neutral-inverted-text-default-interactive: #1a1a1a;
  --pui-color-neutral-inverted-text-disabled: #2c2c2c;
  --pui-color-neutral-inverted-icon-default: #1a1a1a;
  --pui-color-neutral-inverted-icon-default-interactive: #1a1a1a;
  --pui-color-neutral-inverted-icon-disabled: #2c2c2c;
  --pui-color-neutral-inverted-fixed-bg-default: #1E1E1E;
  --pui-color-neutral-inverted-fixed-bg-default-interactive: #1E1E1E;
  --pui-color-neutral-inverted-fixed-bg-default-interactive-hover: #5c5c5c;
  --pui-color-neutral-inverted-fixed-bg-default-interactive-pressed: #808080;
  --pui-color-neutral-inverted-fixed-bg-disabled: #1E1E1E;
  --pui-color-neutral-inverted-fixed-text-default: #ffffff;
  --pui-color-neutral-inverted-fixed-text-default-interactive: #ffffff;
  --pui-color-neutral-inverted-fixed-text-secondary: #BBBBBB;
  --pui-color-neutral-inverted-fixed-text-secondary-interactive: #BBBBBB;
  --pui-color-neutral-inverted-fixed-text-disabled: #808080;
  --pui-color-neutral-inverted-fixed-icon-default: #ffffff;
  --pui-color-neutral-inverted-fixed-icon-default-interactive: #ffffff;
  --pui-color-neutral-inverted-fixed-icon-secondary: #BBBBBB;
  --pui-color-neutral-inverted-fixed-icon-secondary-interactive: #BBBBBB;
  --pui-color-neutral-inverted-fixed-icon-disabled: #808080;
  --pui-color-neutral-inverted-fixed-border-default: #383838;
  --pui-color-brand-bg-default: #0C8CE9;
  --pui-color-brand-bg-default-interactive: #0C8CE9;
  --pui-color-brand-bg-default-interactive-hover: #0A6DC2;
  --pui-color-brand-bg-default-interactive-pressed: #105CAD;
  --pui-color-brand-bg-disabled: #757575;
  --pui-color-brand-text-default: #ffffff;
  --pui-color-brand-text-default-interactive: #ffffff;
  --pui-color-brand-text-disabled: #2c2c2c;
  --pui-color-brand-icon-default: #ffffff;
  --pui-color-brand-icon-default-interactive: #ffffff;
  --pui-color-brand-icon-disabled: #2c2c2c;
  --pui-color-brand-border-default-interactive: #7CC4F8;
  --pui-color-danger-bg-default: #E03E1A;
  --pui-color-danger-bg-default-interactive: #E03E1A;
  --pui-color-danger-bg-default-interactive-hover: #C4381C;
  --pui-color-danger-bg-default-interactive-pressed: #963323;
  --pui-color-danger-bg-disabled: #757575;
  --pui-color-danger-text-default: #ffffff;
  --pui-color-danger-text-default-interactive: #ffffff;
  --pui-color-danger-text-disabled: #2c2c2c;
  --pui-color-danger-icon-default: #ffffff;
  --pui-color-danger-icon-default-interactive: #ffffff;
  --pui-color-danger-icon-disabled: #2c2c2c;
  --pui-color-danger-border-default-interactive: #A55440;
  --pui-color-warning-bg-default: #F3C11B;
  --pui-color-warning-text-default: #000000;
  --pui-color-warning-icon-default: #000000;
  --pui-color-success-bg-default: #198F51;
  --pui-color-success-bg-default-interactive: #198F51;
  --pui-color-success-bg-default-interactive-hover: #078348;
  --pui-color-success-bg-default-interactive-pressed: #0A5C35;
  --pui-color-success-bg-disabled: #757575;
  --pui-color-success-text-default: #ffffff;
  --pui-color-success-text-default-interactive: #ffffff;
  --pui-color-success-text-disabled: #2c2c2c;
  --pui-color-success-icon-default: #ffffff;
  --pui-color-success-icon-default-interactive: #ffffff;
  --pui-color-success-icon-disabled: #2c2c2c;
  --pui-color-success-border-default-interactive: #078348;
  --pui-color-system-bg-scrollbar: #686868;
  --pui-color-system-bg-resizer: #A3A3A3;
  --pui-color-system-border-focus: #0C8CE9;
  --pui-color-shadow-popover-hard: #0000003d;
  --pui-color-shadow-popover-soft: #0000008f;
  --pui-color-shadow-popover-glare: #ffffff14;
  --pui-color-shadow-tooltip-hard: #0000008a;
  --pui-color-shadow-tooltip-soft: #00000052;
  --pui-color-shadow-tooltip-glare: #ffffff14;
  --pui-color-shadow-menu-hard: #0000008a;
  --pui-color-shadow-menu-soft: #00000052;
  --pui-color-shadow-menu-glare: #ffffff14;
}
