@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

.Tab {
  $parent: &;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 24px;
  border-radius: var(--pui-radius-medium);
  color: var(--pui-color-text-onneutral);
  padding: 0;

  @include focus-visible(-1px);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    &_fake {
      position: relative;
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }

    &_real {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__children {
    padding: 0 var(--pui-space-200);
  }

  &_prefix &__children {
    padding-left: 0;
  }

  &_suffix &__children {
    padding-right: 0;
  }

  &_suffix {
    padding-right: var(--pui-space-200);
  }

  &_variant {
    &-default {
      border: none;
      background-color: var(--pui-color-neutral-bg-default-interactive);
      @include curson-feedback;

      &:hover {
        background-color: var(--pui-color-neutral-bg-default-interactive-hover);
      }

      &#{$parent}_selected,
      &#{$parent}_selected:hover {
        background-color: var(--pui-color-neutral-bg-default-interactive-hover);
      }
    }

    &-single {
      border: none;
      background-color: unset;

      cursor: auto;
    }
  }
}
