@use "../../variables.scss" as *;

.Tab {
  $parent: &;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 24px;
  border-radius: var(--pui-radius-medium);
  color: var(--pui-color-text-onneutral);
  padding: 0;

  @include focus-visible;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__children {
    padding: 0 var(--pui-space-200);
  }

  &_suffix &__children {
    padding-right: var(--pui-space-100);
  }

  &_suffix {
    padding-right: var(--pui-space-200);
  }

  &_variant {
    &-default {
      border: none;
      background-color: var(--pui-color-bg-neutral);
      @include curson-feedback;

      &:hover {
        background-color: var(--pui-color-bg-neutral-hover);
      }

      &#{$parent}_selected,
      &#{$parent}_selected:hover {
        background-color: var(--pui-color-bg-neutral-hover);
      }
    }

    &-single {
      border: none;
      background-color: var(--pui-color-bg-neutral);
      cursor: auto;
    }
  }
}
