@use '../../shared.scss' as *;
@use '../../mixins.scss' as *;

.Tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 24px;
  border-radius: var(--pui-radius-medium);
  padding: 0;

  &:focus-visible {
    outline: 1px solid var(--pui-color-system-border-focused);
    outline-offset: -1px;
    box-shadow: none;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    &_fake {
      position: relative;
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }

    &_real {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__children {
    padding: 0 var(--pui-spacing-200);
  }

  &_prefix &__children {
    padding-left: 0;
  }

  &_suffix &__children {
    padding-right: 0;
  }

  &_suffix {
    padding-right: var(--pui-spacing-200);
  }

  &_customChildren &__children {
    padding: 0;
  }

  &_variant-default {
    border: none;
    background-color: var(--pui-color-neutral-bg-default);
    cursor: default;

    &:hover {
      background-color: var(--pui-color-neutral-bg-default-hover);
    }
  }

  &_variant-default:is(&_selected),
  &_variant-default:is(&_selected):hover {
    background-color: var(--pui-color-neutral-bg-default-hover);
  }

  &_variant-single {
    border: none;
    background-color: unset;

    cursor: auto;
  }
}
