@use "../../shared.scss" as *;

.MenuItemAction {
  $parent: &;

  padding: 0 var(--pui-spacing-200);

  &__content {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--pui-spacing-200);
    padding: var(--pui-spacing-100) var(--pui-spacing-200);
    border-radius: var(--pui-radius-medium);

    #{$parent}_intentModifiers-default:not(#{$parent}_focused) &:hover {
      background-color: var(--pui-color-brand-bg-default-interactive-hover);
    }

    #{$parent}_intentModifiers-danger:not(#{$parent}_focused) &:hover {
      background-color: var(--pui-color-danger-bg-default-interactive-hover);
    }

    .MenuContainer_keyboard-interaction
      #{$parent}_intentModifiers-default:not(#{$parent}_focused)
      &:hover,
    .MenuContainer_keyboard-interaction
      #{$parent}_intentModifiers-danger:not(#{$parent}_focused)
      &:hover {
      background-color: transparent;
    }

    #{$parent}_intentModifiers-default#{$parent}_focused & {
      background-color: var(--pui-color-brand-bg-default-interactive-hover);
    }

    #{$parent}_intentModifiers-danger#{$parent}_focused & {
      background-color: var(--pui-color-danger-bg-default-interactive-hover);
    }
  }

  &:focus {
    outline: none;
    border: none;
  }

  &_disabled &__content:hover {
    background-color: transparent !important;
  }

  &__children {
    width: 100%;
  }

  &_optionLikePadding &__content {
    padding-left: calc(
      var(--pui-spacing-200) + var(--pui-spacing-400) + var(--pui-spacing-100)
    );
  }
}
