#storybook-docs .docblock-argstable pre {
  margin-top: 8px;
  border: 1px solid rgb(236, 244, 249);
  color: rgba(46, 52, 56, 0.9);
  background-color: rgb(247, 250, 252);
  padding: 2px 5px;
  border-radius: 3px;
  font-family: ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Droid Sans Mono", "Courier New",
    monospace;
  font-size: 12px;
  line-height: 13px;
  max-width: 100%;
}

#storybook-docs .experimental {
  background-color: #fffbde;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e1d894;
  width: 100%;
}

.docs-story > div:first-child {
  padding: 0;
}

.innerZoomElementWrapper > div:first-child {
  border: 0px solid transparent !important;
}

.innerZoomElementWrapper #storybook-viewport {
  padding: 40px 30px;
}

.docblock-argstable-body strong {
  color: red;
}
