body {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100vh;
}

body * {
  box-sizing: border-box;
}

#storybook-root {
  width: 100%;
  min-height: 100vh;
}

/* Viewport */

#storybook-viewport {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  color: #ea10ac;
  background-color: var(--pui-color-neutral-bg-default);
}

.viewport-padding-true {
  padding: 24px;
}

.viewport-padding-false {
  padding: 0px;
}

.viewport-debug-bg-true {
  background-color: #ff7bfb !important;
}

/* Helpers */

.sb-container {
  outline: 1px dashed red;
}

.sb-column {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  position: relative;
}

.sb-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
}

.sb-gap-8 {
  gap: 8px;
}

.sb-gap-16 {
  gap: 16px;
}

.sb-width-full {
  width: 100%;
}

.sb-padding-16 {
  padding: 16px;
}

.sb-padding-24 {
  padding: 24px;
}
