@use '../../shared.scss' as *;

.Avatar {
  $parent: &;

  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: var(--pui-color-neutral-inverted-bg-default);
  user-select: none;

  &__children {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_image &__children {
    opacity: 0;
  }

  &_variant-circle {
    border-radius: var(--pui-radius-full);
  }

  &_variant-square {
    border-radius: var(--pui-radius-medium);
  }
  &_variant-square:is(&_size-small) {
    border-radius: var(--pui-radius-small);
  }

  &_size {
    &-small {
      width: 16px;
      height: 16px;
    }

    &-medium {
      width: 24px;
      height: 24px;
    }

    &-large {
      width: 32px;
      height: 32px;
    }
  }
}
