@use "../../variables.scss" as *;

.ButtonIcon {
  &_selected {
    background-color: var(
      --pui-color-neutral-bg-default-interactive-selected
    ) !important;
    color: var(
      --pui-color-neutral-text-default-interactive-selected
    ) !important;
    box-shadow: none !important;

    &:hover {
      background-color: var(
        --pui-color-neutral-bg-default-interactive-selected-hover
      ) !important;
    }

    &:active {
      background-color: var(
        --pui-color-neutral-bg-default-interactive-selected-pressed
      ) !important;
    }
  }
}
