@use "./themes/figma-light.scss" as *;
@use "./themes/figma-dark.scss" as *;

:root {
  --pui-space-0: 0;
  --pui-space-100: 4px;
  --pui-space-200: 8px;
  --pui-space-300: 16px;
  --pui-space-400: 24px;
  --pui-space-500: 32px;
  --pui-space-600: 40px;

  --pui-radius-0: 0;
  --pui-radius-small: 2px;
  --pui-radius-medium: 5px;
  --pui-radius-large: 13px;
  --pui-radius-full: 100%;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

@mixin focus-visible {
  &:focus-visible {
    outline: 1px solid var(--pui-color-border-onneutral-selected);
    outline-offset: 1px;
    box-shadow: none;
  }
}

@mixin curson-feedback {
  cursor: pointer;
}
