@use "./themes/figma-light.scss" as *;
@use "./themes/figma-dark.scss" as *;

* {
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}

$spacing: (
  100: 4px,
  200: 8px,
  400: 16px,
  600: 24px,
  800: 32px,
  1000: 40px,
);

$radius: (
  small: 2px,
  medium: 5px,
  large: 13px,
  full: 100%,
);

:root {
  @each $space, $value in $spacing {
    --pui-space-#{$space}: #{$value};
  }

  @each $radius, $value in $radius {
    --pui-radius-#{$radius}: #{$value};
  }
}
