@use "../../shared.scss" as *;

.WindowResizer {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 10px;
  height: 10px;
  z-index: 1000;
  border-radius: 0 0 12px 0;
  border-bottom: 2px solid var(--pui-color-system-bg-resizer);
  border-right: 2px solid var(--pui-color-system-bg-resizer);
  cursor: nwse-resize;
  opacity: 0.36;

  &:hover {
    opacity: 1;
  }
}
