@use '../../shared.scss' as *;
@use '../../mixins.scss' as *;

.ControlGroup {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;

  &_groupFocus::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline-width: 1px;
    outline-style: solid;
    outline-color: transparent;
    outline-offset: -1px;
    z-index: 10;
    border-radius: var(--pui-radius-medium);
  }

  &_groupFocus:hover::before {
    outline-color: var(--pui-color-neutral-border-default) !important;
  }

  &_groupFocus:focus-within::before {
    outline-color: var(--pui-color-neutral-border-default-selected) !important;
  }

  &_fullWidth {
    width: 100%;
  }

  // Combinations

  & > * + * {
    margin-left: -1px;
  }

  & > *:is(.Input_grouped) + *:is(.Input_grouped),
  & > *:is(.TimePicker_grouped) + *:is(.TimePicker_grouped),
  & > *:is(.Input_grouped) + *:is(.TimePicker_grouped),
  & > *:is(.TimePicker_grouped) + *:is(.Input_grouped),
  & > *:is(.Button_grouped.Button_intent-neutral-secondary) + *:is(.Input_grouped),
  & > *:is(.Button_grouped.Button_intent-neutral-secondary) + *:is(.TimePicker_grouped),
  & > *:is(.Button_grouped.Button_intent-neutral-secondary) + *:is(.Select_grouped),
  & > *:is(.ButtonIcon_grouped.ButtonIcon_intent-neutral-secondary) + *:is(.Input_grouped),
  & > *:is(.ButtonIcon_grouped.ButtonIcon_intent-neutral-secondary) + *:is(.TimePicker_grouped),
  & > *:is(.ButtonIcon_grouped.ButtonIcon_intent-neutral-secondary) + *:is(.Select_grouped),
  & > * + *:is(.Button_grouped.Button_intent-neutral-secondary),
  & > * + *:is(.ButtonIcon_grouped.ButtonIcon_intent-neutral-secondary) {
    position: relative;

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: var(--pui-color-neutral-bg-default);
    }

    &:is(.ControlGroup:is(.ControlGroup_groupFocus):hover:not(:focus-within) *)::before {
      background-color: var(--pui-color-neutral-border-default);
    }

    & > *:first-child::before {
      display: none;
    }
  }

  &:not(&_groupFocus) > *:hover::before,
  &:not(&_groupFocus) > *:focus-within::before,
  &:is(&_groupFocus) > *:is(.Button_grouped.Button_intent-neutral-secondary):focus-within::before,
  &:is(&_groupFocus) > *:is(.ButtonIcon_grouped.ButtonIcon_intent-neutral-secondary):focus-within::before {
    display: none;
  }

  &:not(&_groupFocus) > *:hover {
    z-index: 1;
  }

  & > *:is(.Button_grouped):not(.Button_intent-neutral-secondary),
  & > *:is(.ButtonIcon_grouped):not(.ButtonIcon_intent-neutral-secondary),
  & > *:is(.Select_grouped) {
    z-index: 2;
  }

  &:is(&_groupFocus) > *:is(.Button_grouped):not(.Button_intent-neutral-secondary:not(:focus-within)),
  &:is(&_groupFocus) > *:is(.ButtonIcon_grouped):not(.ButtonIcon_intent-neutral-secondary:not(:focus-within)),
  &:is(&_groupFocus) > *:is(.Select_grouped) {
    z-index: 4;
  }

  &:not(&_groupFocus) > *:focus-within {
    z-index: 3;
  }

  &_groupFocus:not(&_disabled):hover .Input__container:hover,
  &_groupFocus:not(&_disabled):focus-within .Input__container:focus-within,
  &_groupFocus:not(&_disabled):focus-within .Input__container:hover:is(:focus-within),
  &_groupFocus:not(&_disabled):hover .react-time-picker__inputGroup:hover,
  &_groupFocus:not(&_disabled):focus-within .react-time-picker__inputGroup:focus-within {
    outline-color: transparent !important;
  }

  &:focus-within .Button:focus-visible,
  &:focus-within .ButtonIcon:focus-within {
    outline-offset: -1px !important;
  }
}
