@use "../../shared.scss" as *;

@mixin Stack_spacing($spacing) {
  &_spacing-#{$spacing} {
    gap: var(--pui-spacing-#{$spacing});
  }
}

.Stack {
  position: relative;
  display: flex;

  &_direction {
    &-row {
      flex-flow: row nowrap;
    }

    &-column {
      flex-flow: column nowrap;
    }

    &-row-reverse {
      flex-flow: row-reverse nowrap;
    }

    &-column-reverse {
      flex-flow: column-reverse nowrap;
    }
  }

  &_fullHeight {
    flex: 1;
    overflow: hidden;
  }

  @include Stack_spacing(100);
  @include Stack_spacing(200);
  @include Stack_spacing(400);
  @include Stack_spacing(600);
  @include Stack_spacing(800);
  @include Stack_spacing(1000);

  //

  &_direction-row:is(&_x-start),
  &_direction-row-reverse:is(&_x-start) {
    justify-content: flex-start;
  }

  &_direction-row:is(&_x-center),
  &_direction-row-reverse:is(&_x-center) {
    justify-content: center;
  }

  &_direction-row:is(&_x-end),
  &_direction-row-reverse:is(&_x-end) {
    justify-content: flex-end;
  }

  &_direction-row:is(&_y-start),
  &_direction-row-reverse:is(&_y-start) {
    align-items: flex-start;
  }

  &_direction-row:is(&_y-center),
  &_direction-row-reverse:is(&_y-center) {
    align-items: center;
  }

  &_direction-row:is(&_y-end),
  &_direction-row-reverse:is(&_y-end) {
    align-items: flex-end;
  }

  //

  &_direction-column:is(&_x-start),
  &_direction-column-reverse:is(&_x-start) {
    align-items: flex-start;
  }

  &_direction-column:is(&_x-center),
  &_direction-column-reverse:is(&_x-center) {
    align-items: center;
  }

  &_direction-column:is(&_x-end),
  &_direction-column-reverse:is(&_x-end) {
    align-items: flex-end;
  }

  &_direction-column:is(&_y-start),
  &_direction-column-reverse:is(&_y-start) {
    justify-content: flex-start;
  }

  &_direction-column:is(&_y-center),
  &_direction-column-reverse:is(&_y-center) {
    justify-content: center;
  }

  &_direction-column:is(&_y-end),
  &_direction-column-reverse:is(&_y-end) {
    justify-content: flex-end;
  }
}
