@use "../../shared.scss" as *;

.ListContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &__end-dropzone {
    position: absolute;
    width: calc(100% - var(--pui-spacing-400));
    bottom: -1px;
    left: var(--pui-spacing-400);
    height: 2px;
    pointer-events: auto;

    &-active {
      background-color: var(--pui-color-neutral-border-drop-position);
      pointer-events: auto;
    }
  }
}
